@import url(styles.css);

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.2s;
  word-break: break-word;
}

.card:has(:hover), .card:has(:focus-visible), .card.chosen {
  background-color: var(--color-hl-bg);
}

.card .image-thumbn {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 12px;
  box-shadow: color-mix(in srgb, #000 5%, transparent 100%) 0 2px 4px 1px;
  transition: all 0.2s;
}

.card a {
  outline-offset: 8px;
}

.card a:is(:hover, :focus-visible) > .image-thumbn:not(:active) {
  box-shadow: color-mix(in srgb, #000 15%, transparent 100%) 0 2px 4px 1px;
  transform: translateY(-2px);
}

.card a > .image-thumbn:active {
  transition: none;
}

.card[data-exclude=true] {
  display: none;
}



.list-grid_results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

@media (max-width: 720px) {
  .list-grid_results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .list-grid_results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #main_container {
    max-width: 1220px !important;
  }
}

@media (orientation: landscape) and (max-height: 640px) {
  @media (max-width: 720px) {
    .list-grid_results {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .list-grid_results {
      grid-template-columns: 1fr 1fr;
    }
  }
}



header > div {
  display: flex;
  gap: 20px;
}

header > div > :first-child {
  display: flex;
  flex-grow: 1;
}

header > div:first-child > :last-child {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
  align-items: center;
  gap: 11px;
}

header > div input {
  width: 300px;
}

@media (max-width: 928px) {
  header > div {
    flex-direction: column;
    gap: 7px;
  }

  header > div > :first-child {
    justify-content: center;
  }

  header > div:first-child > :last-child {
    margin: 0 auto;
    margin-bottom: 9px;
  }

  header > div:first-child > :first-child > h2 {
    margin: 4px auto;
  }

  header > div input {
    width: 100%;
  }
}

@media (max-width: 440px) {
  #btn-filter {
    display: none !important;
  }
}



#btn-random:is(:hover, :focus-visible) {
  text-decoration: none;
  animation: roll 0.6s ease-in-out;
}

#btn-filter[disabled] {
  display: flex;
  align-items: center;
  gap: 6px;
}

#btn-filter[disabled]::after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--color-link);
  border-radius: 100%;
}

#filters_row {
  margin-bottom: 12px;
}



@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-6px);
    filter: opacity(0.5);
  }
}

@keyframes roll {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
